.mental-health-page {
  padding: 20px;
}

.page-header {
  color: #2C2C30;
  padding: 5px;
}

h2 {
  color: #2C2C30;
  margin-top: 20px;
}
.read-more-button {
  background-color: #D65C82;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  /* margin-top: 10px; */
  transition: background-color 0.3s ease;
  text-align: center;
  display: block; 
}

.read-more-button:hover {
  background-color: #ff467e;
}



.resource-list {
  list-style-type: disc;
  padding-left: 20px;
}

.story-card {
  position: relative;
  border: 1px solid #D6D6DB;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.story-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}


.story-card img {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  border-radius: 3%;
}

.relaxation-card {
  background-color: #D6D6DB;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.resources-section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
    border: 1px solid #D6D6DB;

}

.resource-heading {
font-size: 24px;
color: #333;
margin-bottom: 15px;
}

.resource-item {
margin: 10px 0;
}

.resource-link {
color: #D65C82;
text-decoration: none;
font-weight: bold;
transition: color 0.3s ease;
}

.resource-link:hover {
color: #0056b3;
}

.relaxation-section {
background-color: #f5f5f5;
padding: 20px;
border-radius: 10px;
margin: 20px 0;
}

.relaxation-section h2 {
font-size: 24px;
color: #333;
margin-bottom: 15px;
}
.relaxation-card {
display: flex;
background-color: #fff;
padding: 20px;
border: 1px solid #d1d1d1;
border-radius: 10px;
margin-bottom: 20px;
}

.relaxation-card p:first-child {
font-size: 20px;
font-weight: bold;
color: #333;
margin-bottom: 10px;
}

.relaxation-card p:last-child {
font-size: 16px;
color: #555;
line-height: 1.4;
}

.video-container {
flex: 1; 
}

.content {
align-self: center;
flex: 3
}

@media (max-width: 768px) {
  .story-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px; 
  }
  .read-more-button {
    margin-top: 20px;
    font-size: 16px;
  }
  .resource-heading {
    font-size: 20px;
  }

  .resource-link {
    font-size: 16px;
  }
  .relaxation-section {
    padding: 15px;
  }

  .relaxation-section h2,
  .relaxation-card p:first-child {
    font-size: 18px;
  }

  .relaxation-card p:last-child {
    font-size: 14px;
  }
  .relaxation-card {
  flex-direction: column; 
}
}