.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #f1f1f4; 
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f1f1f4;
  margin: 0;
}

h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
}
.search-bar {
  padding: 10px;
  margin: 20px;
  border: 0.9px solid #2C2C30;
  border-radius: 20px;
  font-size: 16px;
  width: 200px;
  background-color: #f1f1f4;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #D65C82;
  padding: 20px;
  text-align: center;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  width: 300px;
  /* border: none; */
  border-radius: 30px;
  font-size: 16px;
  color: #2C2C30;
}

.search-button {
  background-color: #D65C82;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff467e;
  color: white;
}
.footer {
  color: #ffffff; 
  padding: 20px 0;
  text-align: center;
}

.heart {
  color: #D65C82;
}

.footer-content {
  font-size: 16px;
}
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }

  .footer-content {
    font-size: 14px;
  }
}